[Desktop Entry]
Name=Pdf2png
Exec=pdf2png
Comment="Convert PDFs to PNG, JPG and other image formats"
Icon=pdf2png
NoDisplay=false
Type=Application
Categories=Graphics;
